.slider h3,
.slider h5,
.client,
#name {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.parallax-container{
  height: 20%;
}

#tagline {
  height: 345px;
}

.parallax img {
  filter: grayscale(1);
  opacity: 0.5 !important;
}

.client img {
  max-width: 150px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.9));
}

section, footer{
  padding: 20px 0;
}

#blue {
  color: #2962ff;
  padding-top: 70px;
}

#map {
  color: black;
}
